<head>
    <title>Tarot</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.svg">
    <link rel="icon" href="favicon.svg">
    <link rel="icon" href="favicon.png">
    <meta name="theme-color" content="#050511">
    <meta name="og:title" content="Tarot">
    <meta name="description" content="Tarot">
    <meta name="og:description" content="Tarot">
    <meta name="og:image" content="main_animation.svg">
    <meta name="og:image" content="main.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0px;
        }
        img, svg {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <img src="main_animation.svg">
</body>
