<head>
    <title>Til's Paw</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="paw_plain_mono.svg">
    <link rel="shortcut icon" href="paw_plain_mono.png">
    <link rel="icon" href="paw_plain_mono.svg">
    <link rel="icon" href="paw_plain_mono.png">
    <meta name="theme-color" content="#000000">
    <meta name="og:title" content="Til's Paw">
    <meta name="description" content="Til's Paw">
    <meta name="og:description" content="Til's Paw">
    <meta name="og:image" content="paw_plain_mono.svg">
    <meta name="og:image" content="paw_plain_mono.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face { /* no this server is not running Ubuntu, what are you even thinking?! */
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu'), url(ubuntu_regular.ttf) format('truetype');
        }
        @font-face {
            font-family: 'Ubuntu Mono';
            font-style: normal;
            font-weight: 400;
            src: local('Ubuntu Mono'), url(ubuntu_mono_regular.ttf) format('truetype');
        }

        @keyframes blurin {
            from {
                opacity: 0;
                filter: blur(100px);
            }
            25% {
                opacity: 0;
                filter: blur(100px);
            }
            to {
                opacity: 1;
                filter: blur(0px);
            }
        }
        .blurin {
            animation: blurin 2s ease;
        }

        html {
            scroll-behavior: smooth;
        }
        body {
            background: #000;
            color: #fff;
            margin: 0px auto 200px auto;
            max-width: 1500px;
            overflow-x: hidden;
        }
        #banner {
            height: calc(100vh - 20px);
            height: calc(var(--viewport-height, 100vh) - 20px);
            width: calc(100% - 20px);
            margin: 10px;
        }
        #banner img {
            margin: 0 auto;
            width: 100%;
            height: calc(100% - 100px);
            transform-origin: center center;
        }
        #banner > svg {
            width: 100%;
            height: 80px;
            margin: 10px 0px 10px 0px;
        }
        #banner > svg text {
            fill: #fff;
            font-family: "Ubuntu Mono", mono;
        }
        main {
            margin: 0px 10px;
            font-family: "Ubuntu Mono", mono;
        }
        a {
            color: #00c6ff;
        }
        .table {
            display: inline-grid;
            grid-template-columns: auto auto;
        }
        .table > div {
            margin: 0px 7px;
            line-height: 2em;
        }

        @media screen and (prefers-color-scheme: light) {
            body {
                color: #000;
                background: #fff;
            }

            #banner > svg text {
                fill: #000;
            }
        }

        @media (prefers-reduced-motion: reduce) {
            #banner img {
                transform: rotate(0) !important;
            }
            .blurin {
                animation: none !important;
            }
        }
    </style>
    <script>
        onhtmlload = () => {
            const mediaQuery = window.matchMedia("(prefers-reduced-motion: reduce)");

            if (mediaQuery && !mediaQuery.matches) {
                document.querySelector('#banner > svg text').innerHTML = 'tils.pw_';

                setTimeout(() => {
                    let text_animation = [];
                    let text_animation_from = 'tils.pw';
                    let text_animation_to = 'Til\'s Paw';
                    let text_animation_i = 0;
                    let text_animation_underscore = 0;

                    for (const i of Array(text_animation_from.length + text_animation_to.length + 1).keys()) {
                        if (i < text_animation_from.length) {
                            text_animation.push(text_animation_from.substr(0, text_animation_from.length - i));}
                        else {
                            text_animation.push(text_animation_to.substr(0, i - text_animation_from.length));}}

                    setInterval(() => {
                        document.querySelector('#banner > svg text').innerHTML = text_animation[text_animation_i];
                        if (text_animation_i < text_animation.length - 1) {
                            text_animation_i += 1;
                            document.querySelector('#banner > svg text').innerHTML += '_';}
                        else if (text_animation_underscore < 4) {
                            document.querySelector('#banner > svg text').innerHTML += '_';}
                        text_animation_underscore = (text_animation_underscore + 1) % 8;}, 150);

                    setTimeout(() => {
                        if (window.scrollY == 0){
                            window.scrollTo(0, 100);}}, 150 * (text_animation.length + 1) + 700);}, 1800);

                document.documentElement.style.setProperty('--viewport-height', `${window.innerHeight}px`);
                window.addEventListener('resize', () => {
                    document.documentElement.style.setProperty('--viewport-height', `${window.innerHeight}px`);});

                window.addEventListener('mousemove', (e) => {
                    document.querySelector('#banner img').style.transform = `rotate(${e.pageX / window.innerWidth * 10 - 5}deg)`;});
            }
        }
    </script>
</head>
<body>
    <div id="banner">
        <div id="img-container">
            <img onload="this.parentNode.classList.add('blurin')" src="paw_plain.svg" alt="Stylized graphic of a paw with neon colors"/>
        </div>
        <svg>
            <svg viewBox="0 0 80 21" width="100%" height="100%" preserveAspectRatio="xMinYMax meet">
                <text x="0" y="15">Til's Paw_</text>
            </svg>
        </svg>
    </div>
    <main>
        <h1>Contact</h1>
        <div class="table">
            <div>
                Matrix
            </div>
            <div>
                <a href="https://matrix.to/#/@TilCreator:matrix.org">@TilCreator:matrix.org</a>
            </div>
            <div>
                Email
            </div>
            <div>
                <a href="mailto:contact.paw@tc-j.de">contact.paw@tc-j.de</a>
            </div>
            <div>
                Telegram
            </div>
            <div>
                <a href="https://t.me/TilCreator">@TilCreator</a>
            </div>
            <div>
                Mastodon
            </div>
            <div>
                <a rel="me" href="https://chaos.social/@TilCreator">@TilCreator@chaos.social</a>
            </div>
            <div>
                Codeberg
            </div>
            <div>
                <a href="https://codeberg.org/TilCreator">TilCreator</a>
            </div>
            <div>
                GitLab
            </div>
            <div>
                <a href="https://gitlab.com/TilCreator">TilCreator</a>
            </div>
            <div>
                GitHub
            </div>
            <div>
                <a href="https://github.com/TilCreator">TilCreator</a>
            </div>
        </div>
        <h1>Server status</h1>
        <pre>//TODO</pre>
    </main>
    <script>
        onhtmlload();
    </script>
</body>
